doctype html
html(lang="en")
  head
    title=Pagas
  body
    h1 Pagas
    ul#posts
      each post in posts
        li.post
          p.title=post.title
          p.user=post.user
          p.text=post.text
          p.date=post.date
